# 🧠 Python cache files
__pycache__/
*.py[cod]
*.so

# 🧠 Jupyter notebook checkpoints
*.ipynb
.ipynb_checkpoints/

# 🔐 VS Code workspace/settings (optional)
.vscode/
*.code-workspace

# 📦 Environment or dependency folders
env/
venv/

# 📂 Model files
model/*.pkl

# 🗃️ OS files
.DS_Store
Thumbs.db
